.block11
  width 100%
  height auto
  background-color #f7f7f7

  .block11-content
    width 100%
    height auto
    justify-content center
    align-items center
    flex-direction column
    padding-top 32px
    @media (min-width 768px)
      padding-top 48px
    @media (min-width 1280px)
      padding-top 72px

    .block11-head
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      margin-bottom 32px
      @media (min-width 1280px)
        margin-bottom 83px


      span
        color #de6f71
        font-family "Nocturne-Serif-Italic"
        font-size 20px
        font-weight 600
        position relative
        margin-bottom 16px
        @media (min-width 768px)
          font-size 24px
          margin-bottom 32px
        &:before
          content ""
          width 32px
          height 2px
          border-radius 100px
          background-image linear-gradient(197deg, #d45a64 0%, #ffb099 100%)
          position absolute
          top 11px
          left -41px

        &:after
          content ""
          width 32px
          height 2px
          border-radius 100px
          background-image linear-gradient(197deg, #d45a64 0%, #ffb099 100%)
          position absolute
          top 11px
          right -41px

      h2
        margin-bottom 12px
        @media (min-width 768px)
          margin-bottom 20px



    .question-answer-blocks
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column

      .question-answer-block
        width 100%
        height auto
        margin-bottom 20px
        @media (min-width 768px)
          margin-bottom 25px
        @media (min-width 1280px)
          margin-bottom 30px
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          flex-direction column


        .question
          width 100%
          height auto

          p
            color #333333
            font-family Gilroy
            font-size 16px
            font-weight 400
            letter-spacing 0.16px
            text-align center
            transition all 0.1s
            @media (min-width 768px)
              font-size 24px

        .question-active
          p
            font-weight 600
            transition all 0.1s

        .answer
          display none
          margin-top 27px
          max-width 91%
          position relative

          &:before
            content ""
            width 2px
            height 100%
            border-radius 100px
            background-image linear-gradient(107deg, #d45a64 0%, #ffb099 100%)
            position absolute
            top 0
            left -14px
          @media (min-width 768px)
            margin-top 32px
          @media (min-width 1280px)
            max-width 943px
            width auto
          p
            color #333333
            font-family Gilroy
            font-size 14px
            font-weight 400
            line-height 16px
            margin-left 14px
            margin-bottom 10px
            @media (min-width 768px)
              font-size 18px
              line-height 22px
            @media (min-width 1280px)
              font-size 20px
              line-height 26px




