.block6
  width 100%
  height auto

  .block6-content
    width 100%
    height auto
    padding-top 40px
    padding-bottom 30px
    @media (min-width 768px)
      padding-top 60px
      padding-bottom 70px
    @media (min-width 1280px)
      padding-top 90px
      padding-bottom 140px


    .block6-head
      width 100%
      height auto
      margin-bottom 32px
      @media (min-width 768px)
        margin-bottom 48px
      @media (min-width 1280px)
        margin-bottom 76px


      h2
        margin-bottom 12px
        @media (min-width 768px)
          margin-bottom 20px

      p
        text-align center

    .walls-slider
      width 100%
      height auto
      position relative

      .slick-prev3
        width 16px
        height 32px
        background-image url("img/prew.png")
        background-size 100%
        background-repeat no-repeat
        background-position center
        position absolute
        top 45%
        left 0
        z-index 2
        @media (min-width 1280px)
          width 27px
          height 54px

      .slick-next3
        width 16px
        height 32px
        background-image url("img/next.png")
        background-size 100%
        background-repeat no-repeat
        background-position center
        position absolute
        top 45%
        right 0
        z-index 2
        @media (min-width 1280px)
          width 27px
          height 54px

      .slick-slider
        width 100%
        height auto

        .slick-slide
          width 100%
          height auto
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          flex-direction column
          padding 0 30px
          @media (min-width 768px)
            padding 0 54px
          @media (min-width 1280px)
            padding 0 50px


          img
            margin-bottom 10px

          p
            width 100%
            color #333333
            font-family "Nocturne-Serif-Italic"
            font-size 16px
            letter-spacing 0.16px
            text-align left


