.block9
  width 100%
  height 648px
  background-color #f7f7f7
  @media (min-width 768px)
    height 590px
  @media (min-width 1280px)
    height 549px


  .block9-content
    width 100%
    height auto
    justify-content center
    align-items center
    flex-direction column
    margin-top 67px
    @media (min-width 1280px)
      margin-top 0

    .block9-head
      width 100%
      height 20%
      background-image url("img/men-bg.png")
      background-repeat no-repeat
      background-size 100%
      background-position center left
      padding-top 32px
      padding-bottom 38px
      box-sizing border-box
      margin-bottom 24px
      @media (min-width 768px)
        margin-bottom 48px
        height 30%
        padding-top 64px
        padding-bottom 64px
      @media (min-width 1280px)
        height 280px
        background-position center right
        padding-top 80px
        padding-bottom 75px



      h2
        color #ffffff
        font-family "Nocturne-Serif-Medium"
        font-weight 400
        margin-bottom 16px
        @media (min-width 768px)
          font-size 32px
          margin-bottom 24px
        @media (min-width 1280px)
          font-size 40px

      p
        color #ffffff
        text-align center
        max-width 350px
        margin 0 auto
        @media (min-width 768px)
          max-width 590px
          font-size 20px
          line-height 25px
        @media (min-width 1280px)
          font-size 24px
          max-width 888px

    .form-block
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column

      form
        width 100%
        height auto

        .input-position
          width 100%
          height auto
          max-width 220px
          margin 0 auto
          @media (min-width 768px)
            max-width 526px
          @media (min-width 1280px)
            max-width 1050px
            display flex
            display -webkit-flex
            justify-content space-between
            align-items flex-end
            flex-direction row
            margin-bottom 80px

          .input-blocks
            width 100%
            height auto
            display flex
            display -webkit-flex
            justify-content center
            align-items center
            flex-direction column
            position relative
            @media (min-width 768px)
              flex-direction row
              justify-content space-between
              margin-bottom 50px
            @media (min-width 1280px)
              margin-bottom 0
              width 483px


            .input-block
              width 100%
              height auto
              display flex
              display -webkit-flex
              justify-content center
              align-items center
              flex-direction column
              box-sizing border-box
              margin-bottom 20px
              position relative
              @media (min-width 768px)
                width 220px
                margin-bottom 0

              label
                width 100%
                opacity 0.8
                color #333333
                font-family "Nocturne-Serif-italic"
                font-style italic
                font-size 20px
                letter-spacing 0.2px
                font-weight 400
                text-align left
                margin-bottom 8px
                position relative

              .info
                &:after
                  content ""
                  width 20px
                  height 20px
                  background-image url("img/info.png")
                  background-size 100%
                  background-repeat no-repeat
                  background-position center center
                  position absolute
                  top 4px
                  right 0

              input
                width 220px
                height 56px
                border 1px solid #999999
                background-color #ffffff
                color #333333
                font-family "Nocturne-Serif-Italic"
                font-size 20px
                letter-spacing 0.2px
                padding-left 24px
                box-sizing border-box

              .checkbox
                width 56px
                height 56px
                border 1px solid #999999
                background-color #ffffff

            .faq-popup1, .faq-popup2
              display none
              position absolute
              width 107%
              height 150px
              padding-top 22px
              padding-bottom 22px
              padding-right 20px
              padding-left 20px
              box-sizing border-box
              background-color: #fff;
              border 1px solid #000000
              background-position center
              background-size auto
              background-repeat no-repeat

              p
                color #333333
                font-family Gilroy
                font-size 16px
                font-weight 400
                letter-spacing 0.2px
                line-height 24px

            .faq-popup1
              top -159px
              @media (min-width 768px)
                left -20px

            .faq-popup2
              top -46px
              @media (min-width 768px)
                top -163px
                left -20px

          .input-block-check
            width 100%
            height auto
            display flex
            display -webkit-flex
            justify-content center
            align-items center
            flex-direction row
            padding 0
            box-sizing border-box
            margin-bottom 20px
            @media (min-width 768px)
              align-items flex-start
              padding 0
              width 220px
              margin-bottom 0
            @media (min-width 1280px)
              width 200px


            label
              width 100%
              opacity 0.8
              color #333333
              font-family "Nocturne-Serif-italic"
              font-style italic
              font-size 20px
              letter-spacing 0.2px
              font-weight 400
              text-align left
              margin-bottom 8px
              @media (min-width 1280px)
                width auto
                margin-right 20px

            .checkbox
              width 56px
              height 56px
              border 1px solid #999999
              background-color #ffffff

        .form-bottom
          width 100%
          height auto
          @media (min-width 768px)
            display flex
            display -webkit-flex
            justify-content center
            align-items center
            flex-direction row
          .border-block-input
            width 260px
            height 68px
            border 1px solid #333333
            background-color #ffffff
            display flex
            display -webkit-flex
            justify-content center
            align-items center
            margin 0 auto
            @media (min-width 768px)
              margin-bottom 0
              margin 0
              border-right none
            @media (min-width 1280px)
              width 320px
              height 96px
              justify-content flex-end


            input
              width 234px
              height 44px
              border 1px solid #333333
              background-color #ffffff
              text-align center
              color #333333
              font-family "Nocturne-Serif-Italic"
              font-size 14px
              letter-spacing 0.18px
              @media (min-width 1280px)
                width 297px
                height 54px
                font-size 18px

          .border-block-buttom
            width 100%
            display flex
            display -webkit-flex
            justify-content center
            align-items center
            margin-top 16px
            @media (min-width 768px)
              margin-top 0
              width 260px
              height 68px
              border 1px solid #333333
              background-color #ffffff
              display flex
              display -webkit-flex
              justify-content center
              align-items center
              border-left none
            @media (min-width 1280px)
              width 320px
              height 96px
              justify-content flex-start

            button
              margin 0 auto
              @media (min-width 1280px)
                margin-left 0
