.block8
  width 100%
  height auto
  background #FFFFFF

  .block8-content
    width 100%
    height auto
    padding-top 135px
    @media (min-width 768px)
      padding-top 118px
    @media (min-width 1280px)
      padding-top 145px
      padding-bottom 75px


    .block8-head
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      margin-bottom 32px
      @media (min-width 768px)
        margin-bottom 48px
      @media (min-width 1280px)
        margin-bottom 72px

      span
        color #de6f71
        font-family "Nocturne-Serif-Italic"
        font-size 20px
        font-weight 600
        position relative
        margin-bottom 16px
        @media (min-width 768px)
          font-size 24px
          margin-bottom 32px
        &:before
          content ""
          width 32px
          height 2px
          border-radius 100px
          background-image linear-gradient(197deg, #d45a64 0%, #ffb099 100%)
          position absolute
          top 11px
          left -41px

        &:after
          content ""
          width 32px
          height 2px
          border-radius 100px
          background-image linear-gradient(197deg, #d45a64 0%, #ffb099 100%)
          position absolute
          top 11px
          right -41px

      h2
        margin-bottom 12px
        @media (min-width 768px)
          margin-bottom 20px

      p
        text-align center
        margin-bottom 40px
        @media (min-width 768px)
          margin-bottom 66px
          max-width 635px
          line-height 22px
        @media (min-width 1280px)
          line-height 30px
          max-width 732px
          margin-bottom 72px

    .history-blocks
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items flex-start
      flex-flow row wrap
      @media (min-width 768px)
        max-width 702px
        justify-content space-between
        margin 0 auto
      @media (min-width 1280px)
        justify-content center
        max-width 1282px

      .history-block
        width 282px
        height 282px
        margin-bottom 51px
        @media (min-width 768px)
          width 340px
          height 340px
          margin-bottom 61px
        @media (min-width 1280px)
          width 370px
          height 370px
          margin-bottom 76px
          margin-right 12px
          margin-left 12px



        &:nth-child(1)
          background-image url("img/history-1.png")
          background-repeat no-repeat
          background-size 100%
          background-position center center
          position relative
          &:hover
            &:before
              display block
          &:before
            display none
            content ""
            width 16px
            height 16px
            background-image url("img/info-icon.png")
            background-position center center
            background-size 100%
            background-repeat no-repeat
            position absolute
            right 16px
            top 16px
            cursor pointer

          &:after
            content "Гостиная в вашей квартире"
            width 100%
            height 19px
            position absolute
            bottom -25px
            color #333333
            font-family "Nocturne-Serif-Italic"
            font-size 16px
            @media (min-width 1280px)
              font-size 20px
        &:nth-child(2)
          background-image url("img/history-2.png")
          background-repeat no-repeat
          background-size 100%
          background-position center center
          position relative
          &:hover
            &:before
              display block
          &:before
            display none
            content ""
            width 16px
            height 16px
            background-image url("img/info-icon.png")
            background-position center center
            background-size 100%
            background-repeat no-repeat
            position absolute
            right 16px
            top 16px
            cursor pointer

          &:after
            content "Ресторан в стиле лофт"
            width 100%
            height 19px
            position absolute
            bottom -25px
            color #333333
            font-family "Nocturne-Serif-Italic"
            font-size 16px
            @media (min-width 1280px)
              font-size 20px
        &:nth-child(3)
          background-image url("img/history-3.png")
          background-repeat no-repeat
          background-size 100%
          background-position center center
          position relative
          &:hover
            &:before
              display block
          &:before
            display none
            content ""
            width 16px
            height 16px
            background-image url("img/info-icon.png")
            background-position center center
            background-size 100%
            background-repeat no-repeat
            position absolute
            right 16px
            top 16px
            cursor pointer

          &:after
            content "Кальянная в стиле лофт"
            width 100%
            height 19px
            position absolute
            bottom -25px
            color #333333
            font-family "Nocturne-Serif-Italic"
            font-size 16px
            @media (min-width 1280px)
              font-size 20px
        &:nth-child(4)
          background-image url("img/history-4.png")
          background-repeat no-repeat
          background-size 100%
          background-position center center
          position relative
          &:hover
            &:before
              display block
          &:before
            display none
            content ""
            width 16px
            height 16px
            background-image url("img/info-icon.png")
            background-position center center
            background-size 100%
            background-repeat no-repeat
            position absolute
            right 16px
            top 16px
            cursor pointer

          &:after
            content "Каминная в загородном доме"
            width 100%
            height 19px
            position absolute
            bottom -25px
            color #333333
            font-family "Nocturne-Serif-Italic"
            font-size 16px
            @media (min-width 1280px)
              font-size 20px
        &:nth-child(5)
          background-image url("img/history-5.png")
          background-repeat no-repeat
          background-size 100%
          background-position center center
          position relative
          &:hover
            &:before
              display block
          &:before
            display none
            content ""
            width 16px
            height 16px
            background-image url("img/info-icon.png")
            background-position center center
            background-size 100%
            background-repeat no-repeat
            position absolute
            right 16px
            top 16px
            cursor pointer

          &:after
            content "Колонны и арки"
            width 100%
            height 19px
            position absolute
            bottom -25px
            color #333333
            font-family "Nocturne-Serif-Italic"
            font-size 16px
            @media (min-width 1280px)
              font-size 20px
        &:nth-child(6)
          background-image url("img/history-6.png")
          background-repeat no-repeat
          background-size 100%
          background-position center center
          margin-bottom 0
          position relative
          &:hover
            &:before
              display block
          &:before
            display none
            content ""
            width 16px
            height 16px
            background-image url("img/info-icon.png")
            background-position center center
            background-size 100%
            background-repeat no-repeat
            position absolute
            right 16px
            top 16px
            cursor pointer

          &:after
            content "Кухни и кухонные фартуки"
            width 100%
            height 19px
            position absolute
            bottom -25px
            color #333333
            font-family "Nocturne-Serif-Italic"
            font-size 16px
            @media (min-width 1280px)
              font-size 20px

        .hidden-history-text
          display none
          width 100%
          height 100%
          background-color #FFFFFF
          opacity 0.9

          .text-container
            width 100%
            height 100%
            display flex
            display -webkit-flex
            justify-content center
            align-items center
            flex-direction column

            p
              color #333333
              font-family Gilroy
              font-size 20px
              font-weight 400
              margin-bottom 24px
              text-align center
              &:last-child
                margin-bottom 0

              span
                font-weight 600