h()
  columns = 0 1 2 3 4
  for col in columns
    .h-{col}
      width (col/columns[-1]*100) + '%'
      flex-basis auto
      box-sizing border-box
      display block
      padding-left 5px
      padding-right 5px
  for col in columns
    .h-offset-{col}
      margin-left: (col/columns[-1]*100) + '%'

t()
  columns = 0 1 2 3 4
  for col in columns
    .t-{col}
      width (col/columns[-1]*100) + '%'
      flex-basis auto
      box-sizing border-box
      display block
      padding-left 11px
      padding-right 11px
  for col in columns
    .t-offset-{col}
      margin-left: (col/columns[-1]*100) + '%'

d()
  columns = 0 1 2 3 4
  for col in columns
    .d-{col}
      width (col/columns[-1]*100) + '%'
      flex-basis auto
      box-sizing border-box
      display block
      padding-left 20px
      padding-right 20px
  for col in columns
    .d-offset-{col}
      margin-left: (col/columns[-1]*100) + '%'

d-screen = 1280px
t-screen = 768px
h-screen = 320px

.cnt
  box-sizing border-box
  padding 0 19px
  width: 100%
  @media(min-width: t-screen)
    padding 0 33px
    width 100%
  @media(min-width: d-screen)
    padding 0 48px
    margin 0 auto

.row
  max-width 1280px
  flex-basis 100%
  margin 0 auto
  flex-grow 1
  display flex
  display -webkit-flex
  flex-flow column
  justify-content flex-start
  align-content flex-start


h1
  color #333333
  font-family "Nocturne-Serif-Bold"
  font-size 21px
  font-weight 700
  text-align center
  line-height 28px
  margin-bottom 16px
  @media (min-width 768px)
    font-size 24px
    line-height 26px
    text-align left
  @media (min-width 1280px)
    font-size 38px
    line-height 40px

h2
  color #333333
  font-family "Nocturne-Serif-Bold"
  font-size 21px
  font-weight 600
  text-align center
  line-height 23px
  @media (min-width 768px)
    font-size 28px
    letter-spacing 0.44px
    line-height 30px
  @media (min-width 1280px)
    font-size 32px
    line-height 34px


h3
  color #333333
  font-family "Nocturne-Serif-BoldSerif"
  font-size 21px
  font-weight 500
  text-align center
  line-height 23px
  @media (min-width 768px)
    font-size 28px
    letter-spacing 0.44px
    line-height 30px
  @media (min-width 1280px)
    font-size 32px
    line-height 34px


h4
  color #333333
  font-family "Nocturne Serif"
  font-size 16px
  @media (min-width 768px)
    font-size 18px
  @media (min-width 1280px)
    font-size 20px

p
  color #000
  font-family Gilroy
  font-size 14px
  font-weight 400
  line-height 18px
  @media (min-width 768px)
    font-size 18px
  @media (min-width 1280px)
    font-size 20px

button
  width 234px
  height 47px
  background-color #333333
  color #ffffff
  font-family Gilroy
  font-size 14px
  font-weight 300
  letter-spacing 0.16px
  text-align center
  transition all 0.2s ease
  border 1px solid #333333
  border none


  &:hover
    border 1px solid #FFFFFF
  &:active
    background-color rgba(0, 0, 0, 0.1)

  @media (min-width 760px)
    width 241px
    height 45px
    font-size 16px
  @media (min-width 1280px)
    width 297px
    height 54px
    font-size 18px




////---PLACEHOLDERS---////
input[type='text']::-webkit-input-placeholder {
  opacity: 1;
  color: #bfbfbf !important;
}

input[type='text']::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #bfbfbf !important;
}

input[type='text']:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #bfbfbf !important;
}

input[type='text']:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #bfbfbf !important;
}

input[type='text']:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type='text']:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type='text']:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type='text']:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #bfbfbf !important;
}

textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #bfbfbf !important;
}

textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #bfbfbf !important;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #bfbfbf !important;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}