section#kirpich.block2
    div.block2-content
        div.block2-head.cnt.revealator-slideup.revealator-delay1
            span 01
            h2 О кирпиче
            p Произведён на петербургских кирпичных заводах в 18-19 веках. Каждый кирпич имеет клеймо того или иного завода. Отличается насыщенной цветовой палитрой – от ярко рыжего до тёмно-пунцового.

        div.info-blocks.revealator-slideup.revealator-delay1
            div.info-block.row
                div.text-info
                    h2 Добыча
                    p Наши специалисты сами участвуют в разборах старинных зданий. Это гарантирует лучшую сохранность кирпича, а также благотворно сказывается на цене продукции компании, так как исключаются посредники.

                div.img-info
                    img(src="img/phoro-1.png")
        div.info-blocks.revealator-slideup.revealator-delay1
            div.info-block.row
                div.text-info
                    h2 Реставрация
                    p У нас работают опытнейшие профессиональные реставраторы. Именно они превращают уникальный старинный кирпич в неповторимую, уже находящуюся на грани произведений искусства плитку и целых кирпичей.

                div.img-info
                    img(src="img/photo-2.png")
