section#prays.block8.cnt
    div.block8-content.row
        div.block8-head
            span 04
            h2 Воссоздайте историю

        div.history-blocks
            div.history-block
                div.hidden-history-text
                    div.text-container
                        p Размер объекта:
                            span  140 м2
                        p Срок выполнения:
                            span  2 дня
                        p Стоимость:
                            span  420 000 руб.

            div.history-block
                div.hidden-history-text
                    div.text-container
                        p Размер объекта:
                            span  140 м2
                        p Срок выполнения:
                            span  2 дня
                        p Стоимость:
                            span  420 000 руб.

            div.history-block
                div.hidden-history-text
                    div.text-container
                        p Размер объекта:
                            span  140 м2
                        p Срок выполнения:
                            span  2 дня
                        p Стоимость:
                            span  420 000 руб.

            div.history-block
                div.hidden-history-text
                    div.text-container
                        p Размер объекта:
                            span  140 м2
                        p Срок выполнения:
                            span  2 дня
                        p Стоимость:
                            span  420 000 руб.

            div.history-block
                div.hidden-history-text
                    div.text-container
                        p Размер объекта:
                            span  140 м2
                        p Срок выполнения:
                            span  2 дня
                        p Стоимость:
                            span  420 000 руб.

            div.history-block
                div.hidden-history-text
                    div.text-container
                        p Размер объекта:
                            span  140 м2
                        p Срок выполнения:
                            span  2 дня
                        p Стоимость:
                            span  420 000 руб.
