section.block10.cnt
    div.block10-content.row
        div.block10-head
            span 05
            h2 Почитайте отзывы наших клиентов

        div.reviews-slider
            div.slick-prev2
            div.slick-slider

                div.slick-slide
                    div.reviews-img
                        img(src="img/review-photo-1.png")
                    div.reviews-text
                        p Задумал делать ремонт в своей квартире. Решил сделать все по высшему разряду. Типа заслужил. В дизайнеры пригласил хорошего друга. Он мне и посоветовал в залу установить настоящий камин, а стены отделать плиткой из старинного кирпича. Не под старину, а именно из старинного кирпича 19 века! Друг же и заказал для моих хором такую плитку в компании «Кирпич 1886». Что сказать, получилось потрясающе! Горят дрова в камине, а я смотрю на свои стены и представляю. Что только этот кирпич не видел за свои полтораста лет. Прямо душой отдыхаю.
                        div.name-reviews
                            a.fansybox(href="#") (оригинал отзыва)
                            p Иван Сенцов
                div.slick-slide
                    div.reviews-img
                        img(src="img/review-photo-1.png")
                    div.reviews-text
                        p Задумал делать ремонт в своей квартире. Решил сделать все по высшему разряду. Типа заслужил. В дизайнеры пригласил хорошего друга. Он мне и посоветовал в залу установить настоящий камин, а стены отделать плиткой из старинного кирпича. Не под старину, а именно из старинного кирпича 19 века! Друг же и заказал для моих хором такую плитку в компании «Кирпич 1886». Что сказать, получилось потрясающе! Горят дрова в камине, а я смотрю на свои стены и представляю. Что только этот кирпич не видел за свои полтораста лет. Прямо душой отдыхаю.
                        div.name-reviews
                            a.fansybox(href="#") (оригинал отзыва)
                            p Коля Сенцов
                div.slick-slide
                    div.reviews-img
                        img(src="img/review-photo-1.png")
                    div.reviews-text
                        p Задумал делать ремонт в своей квартире. Решил сделать все по высшему разряду. Типа заслужил. В дизайнеры пригласил хорошего друга. Он мне и посоветовал в залу установить настоящий камин, а стены отделать плиткой из старинного кирпича. Не под старину, а именно из старинного кирпича 19 века! Друг же и заказал для моих хором такую плитку в компании «Кирпич 1886». Что сказать, получилось потрясающе! Горят дрова в камине, а я смотрю на свои стены и представляю. Что только этот кирпич не видел за свои полтораста лет. Прямо душой отдыхаю.
                        div.name-reviews
                            a.fansybox(href="#") (оригинал отзыва)
                            p Олег Сенцов

            div.slick-next2