section.block4.cnt
    div.block4-content.row
        div.block4-head
            h2 Специальное предложение для вас!
            p У нас действуют специальные условия для клиентов. Помощь с вашим проектом, а также скидки на каждый 11 м² при оплате в день заказа.

        form(action="mailer.php" method="post")
            div.border-block-input
                input(name="email" placeholder="Ваш email" type="text")
            div.border-block-buttom
                button(type="submit") Скачать каталог

        div.help-block
            div.spec-help.revealator-slideup.revealator-delay1
                h2 Помощь специалиста
                hr
                p Мы готовы предоставить дизайнера вам в помощь, который специализируется именно на создании интерьера при помощи плитки из старинного кирпича и который отлично знает весь ассортимент продукции. Он предложит вам оптимальное решение.

            div.team-help.revealator-slideup.revealator-delay1
                h2 Помощь команды
                hr
                p Своя бригада рабочих, с большим опытом работы именно по укладке наших царских кирпичей и плитки. Так что мы можем гарантировать самое высокое качество и скрупулёзное претворение вашего  дизайнерского проекта в жизнь.
