section#question.block11.cnt
    div.block11-content.row
        div.block11-head
            span 06
            h2 Часто задаваемые вопросы

        div.question-answer-blocks
            div.question-answer-block
                div.question
                    p Почему дороже, чем у других?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p Чем отличается от искусственной плитки?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p А точно старинный кирпич?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.


            div.question-answer-block
                div.question
                    p Какие здания подлежат разбору?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p Не расколется ли плитка?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p Сколько весит квадратный метр?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p Толщина плитки?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.


            div.question-answer-block
                div.question
                    p Выдержит ли стена?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p Сколько стоит?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p Точно с Питера?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.

            div.question-answer-block
                div.question
                    p На какой клей сажать?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.


            div.question-answer-block
                div.question
                    p Какой зазор между плиток делать?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.


            div.question-answer-block
                div.question
                    p Какие размеры?
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.


            div.question-answer-block
                div.question
                    p Наши сертификаты
                div.answer
                    p Сила тяжести — сила, действующая на любое материальное тело, находящееся вблизи поверхности Земли или другого астрономического тела.
