section#contact.block13
    div.block13-content.row
        div.block13-head
            span 07
            h2 Наши контакты

        div.map-block
            p Пункты выдачи заказов:

            div.contact-map
                div.map
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1120.0016318910887!2d37.57250655840051!3d55.84525799514455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b537b31eaea307%3A0xa878936001810167!2z0YPQuy4g0JvQvtC60L7QvNC-0YLQuNCy0L3Ri9C5INC_0YAuLCAyMSwgMzA3LCDQnNC-0YHQutCy0LAsIDEyNzIzOA!5e0!3m2!1sru!2sru!4v1501685039110" frameborder="0" style="border:0" allowfullscreen></iframe>
                div.contacts
                    span Офис:
                    p Москва, Локомотивный пр-д 21, оф. 307

                    span Склад:
                    p Королев, Советская 42

        div.adres-blocks.cnt
            div.adres-content
                div.adres-block
                    span г. Москва
                    p +7 (499) 110-35-62
                div.adres-block
                    span г. Санкт-Петербург
                    p +7 (499) 110-35-62
                div.adres-block
                    span г. Нижний Новгород
                    p +7 (499) 110-35-62
                div.adres-block
                    span г. Екатеринбург
                    p +7 (499) 110-35-62
                div.adres-block
                    span г. Новосибирск
                    p +7 (499) 110-35-62

        div.soc-block
            img(src="img/logo.png")
            a(href="tel:84991103562") +7 (499) 110-35-62
            a(href="mailTo:info@кирпич1886.рф") info@кирпич1886.рф
            div.soc-icon-block
                a(href="#" onclick="returne false")
                    img(src="img/vkontakte-icon.png")
                a(href="#" onclick="returne false")
                    img(src="img/facebook.png")
                a(href="#" onclick="returne false")
                    img(src="img/instagram.png")

