section.block7.cnt
    div.block7-content.row
        div.block7-head
            h2 Бесплатно поможем с замером
            hr
            p Наш специалист поможет вам с замером площади рабочего проекта!<br> Покажем образцы и выберем самый подходящий вариант!
            p Укажите свои контактные данные, и мы свяжемся с вами в течении 30 секунд.

        form(action="mailer.php" method="post")
            div.border-block-input
                input.phone(name="phone" placeholder="Ваш телефон" type="text")
            div.border-block-buttom
                button(type="submit") Заказать звонок