section#project.block3.cnt
    div.block3-content.row
        div.block3-head
            span 02
            h2 Проекты
            p В качестве экспертов по старинному кирпичу нас приглашали в известные проекты. Именно наши материалы использовались в создании неповторимых дизайнов. Царский кирпич – это то, что придаёт изюминку любому интерьеру.

        div.tabs-slider
            div.slider-one.tab-active
                img(src="img/shcool-logo.png")
            div.slider-two
                img(src="img/remont-logo.png")


        div.video-slider-block.one.video-active
            div.slick-prev
            div.slick-slider
                div.slick-slide
                    <iframe src="https://www.youtube.com/embed/OOGaej5HPQs?ecver=1" frameborder="0" allowfullscreen></iframe>
                div.slick-slide
                    <iframe src="https://www.youtube.com/embed/OOGaej5HPQs?ecver=1" frameborder="0" allowfullscreen></iframe>


            div.slick-next

        div.video-slider-block.two
            div.slick-prev
            div.slick-slider

                div.slick-slide
                    <iframe src="https://www.youtube.com/embed/OOGaej5HPQs?ecver=1" frameborder="0" allowfullscreen></iframe>


            div.slick-next



