section.block6.cnt
    div.block6-content.row
        div.block6-head
            h2 Точные копии старинного кирпича
            p Более экономный вариант плитки, но не менее презентабельный — <br>это искусственная плитка сделаная со слепков старинного кирпича.

        div.walls-slider
            div.slick-prev3
            div.slick-slider
                div.slick-slide
                    img(src="img/stena-1.png")
                    p Франция

                div.slick-slide
                    img(src="img/stena-2.png")
                    p Италия

                div.slick-slide
                    img(src="img/stena-3.png")
                    p Санкт-Петербург

                div.slick-slide
                    img(src="img/stena-4.png")
                    p Санкт-Петербург

                div.slick-slide
                    img(src="img/stena-4.png")
                    p Голландия

                div.slick-slide
                    img(src="img/stena-4.png")
                    p Испания

            div.slick-next3