section.block1.cnt
    div.block1-content.row
        div.bg-color
        div.block1-head.revealator-slideleft.revealator-delay1

            h1 Несколько сотен лет истории — <br> с истинным духом старины
            p Создайте ваш уникальный дизайн-проект с помощью подлинного царского кирпича из Санкт-Петербурга.
            p Лучшая альтернатива клинкерному кирпичу — только глина, вода, огонь и несколько сотен лет истории!

        form(action="mailer.php" method="post")
            div.border-block-input
                input.phone(name="phone" placeholder="Ваш телефон" type="text")
            div.border-block-buttom
                button(type="submit") Получить консультацию