section#pay.block12.cnt
    div.block12-content.row
        div.delivery
            h2 Доставка
            p Самовывоз в день <br>заказа
            p Доставка по Москве <br>и Московской области
            p Доставка <br>до транспортной компании

        div.pay
            h2 Оплата
            p Наличными
            p По счёту с НДС <br>и без НДС
            p Банковской <br>картой
            p Электронными <br>деньгами

        div.pay-icon-block
            img(src="img/yandex-logo.png")
            img(src="img/visa-logo.png")
            img(src="img/master-card-logo.png")
            img(src="img/qiwi-logo.png")