section.block5
    div.block5-content.row
        div.block5-head
            span 03
            h2 Лучший царский кирпич из Санкт-Петербурга


        div.carousel
            a.carousel-item(href="#one!")
                img(src="img/kirpich-img.png")
                span Цельный старинный кирпич
                p Санкт-Петербург 18-19 века
            a.carousel-item(href="#two!")
                img(src="img/kirpich-img.png")
                span Цельный старинный кирпич
                p Санкт-Петербург 18-19 века
            a.carousel-item(href="#three!")
                img(src="img/kirpich-img.png")
                span Цельный старинный кирпич
                p Санкт-Петербург 18-19 века
            a.carousel-item(href="#four!")
                img(src="img/kirpich-img.png")
                span Цельный старинный кирпич
                p Санкт-Петербург 18-19 века
            a.carousel-item(href="#five!")
                img(src="img/kirpich-img.png")
                span Цельный старинный кирпич
                p Санкт-Петербург 18-19 века


