header
    div.header-content.row
        div.top-block
            div.text-head-block
                p Царский кирпич из Санкт-Петербурга XVIII-XIX веков для премиум дизайн-проектов в стиле лофт
                
            div.logo
                div.logo-block
                    img(src="img/logo.png")
                    p меню
                    
                    
            div.phone
                div.phone-block
                    p Закажите звонок:
                    a(href="tel:84991103562") +7 (499) 110-35-62
                             
                    
        div.menu-block
            nav
                a.scroll-to(href="#kirpich") О КИРПИЧЕ
                a.scroll-to(href="#project") ПРОЕКТЫ
                a.scroll-to(href="#disign" ) ДИЗАЙНЕРАМ
                a.scroll-to(href="#prays" ) ПРАЙС-ЛИСТ
                a.scroll-to(href="#question" ) ВОПРОС-ОТВЕТ
                a.scroll-to(href="#pay" ) ДОСТАВКА И ОПЛАТА
                a.scroll-to(href="#contact") КОНТАКТЫ
                
        