title 1886
meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="")
link(rel="icon" type="image/x-icon" href="img/favicon.ico")
link(rel="stylesheet" href="style.css")
link(rel="stylesheet" href="fonts/stylesheet.css")
link(rel="stylesheet" type="text/css" href="js/slick.css")
link(rel="stylesheet" type="text/css" href="js/slick-theme.css")
link(href="js/jquery.fancybox.css" rel="stylesheet")
link(href="js/materialize.min.css" rel="stylesheet" media="screen,projection")
link(rel="stylesheet" href="js/fm.revealator.jquery.css")



script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="js/jquery.min.js")
script(src="js/slick.js")
script(src="js/slick.min.js")
script(src="js/jquery.fancybox.js")
script(src="js/jquery.maskedinput.js")
script(src="js/materialize.min.js")
script(src="js/fm.revealator.jquery.js")
script(src="js/script.js")



